@charset "utf-8";
/* CSS Document */

*::-moz-selection {
  background: #f6b20e none repeat scroll 0 0;
  color: #fff;
}
::-moz-selection { background: #64bb67; color:#fff; text-shadow: none; }
::selection { background:#64bb67; color:#fff; text-shadow: none; }

 body {
	background:hsl(221, 93%, 6%) url("../images/top_banner.png") no-repeat fixed 0 0 / cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 30px;
	overflow-x:hidden;
	position:relative;
	font-weight:300;
} 
section {
  clear: both;
  padding:110px 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}
section svg, section i {
  font-size: 1.4em;
}
.iniciorrss {
 color: #000000;
 text-align: center;
 font-weight: bold;
 padding-bottom: 0.4em;
 background-color: #DB356C;
 border-radius: 50%;
 padding-top: 0.3em;
 margin-left: 0.5em;
 margin-right: 0.5em;
}
#inicio-h1 {
  margin-top: 2em; 
}
.botones-arriba { 
  width: 100%;
  margin: 0 auto;
}
.botones-arriba button {
  width: 43%;
  background-color: #000000;
  border: none;
  padding: 0.7em;
  display: inline-block;
  margin-left: 1em;
}
.botones-arriba button:hover {
  background-color: #f6b20e;
}
/* Cookies */
#overbox3 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999999;
  display: block;
}

#infobox3 {
  margin: auto;
  position: relative;
  top: 0px;
  height: 5.2em;
  width: 100%;
  text-align: center;
  background-color: #000000;
}
#infobox3 p {
  line-height: 2em;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}
#infobox3 p a {
  margin-right: 5px;
  text-decoration: underline;
  color: #6f91c7;
}
#infobox3 p a svg {
  color: #ffffff;
}
#infobox3 p a:hover {
  color: #c7a56f;
}
#infobox3 p .cookies_close {
  background-color: #6f91c7;
  color: #ffffff;
  padding: 1em;
  text-decoration: none;
  line-height: 5em;
}
#infobox3 p .cookies_close:hover {
  background-color: #c7a56f;
  color: #ffffff;
}
/*
#barraaceptacion {
    display:none;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: #db356c;
    color:#fff;
    z-index:99999;
}
.youtube-seccion iframe {
  display: block; 
  margin: 0 auto;
  width: 90%;
  border: none; 
}
.inner {
    width:100%;
    position:fixed;
    padding:5px;
    font-family:verdana;
    font-size:13px;
    bottom:0;
    background-color: #db356c;
}
 
.inner a.ok {
    padding:4px;
    color:#000000;
    text-decoration:none;
}
 
.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}
.inner a.info:hover {
  color:#000;
} */
/* Fin cookies */
h1 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  font-weight: 100;
}
h2{
  font-size: 46px;
}
h3 {
  font-size: 36px;
}
h4{
  font-size: 23px;	
}
h5 {
	 font-size: 23px;
}
h6{
	font-size: 22px;
}
.graciasimg{
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}
#h5contact {
  font-size: 1em;
}
p{
	font-size:1.1em;
	color:#f6b20e;
	line-height:27px;
}
#contact-patrocinio {
  width: 100%;
}
#mail-contact {
  color: #f6b20e;
}
a .col-md-4, .col-md-4 h3, .col-md-4 h6 {
  color: #000000;
  padding: 0.1em;
}
.col-md-4 p {
  padding: 0.8em;
  font-size: 1.3em;
}
.col-md-4 {
  margin-bottom: 1.5em;
}
.secondary-bg{
	background-color:#010a1c;
  width: 100%;
}
.primary-bg{
	background-color:#f0efef;
}
.third-bg{
	background-color:#db356c;
}
.fourth-bg{
	background-color:#db356c;
}
.fifth-bg{
	background-color:#f0efef;
}
.rrsswidget {
  text-align: center;
  margin-right: 20px;
}
.rrss-main i {
  width: 32%;
  font-size: 4em;
  text-align: center;
  color: #DB356C;
  margin-bottom: 1em;
}
#rrssmall {
  width: 100%;
  overflow-x: auto;
  position: relative;
  margin-bottom: 30px;
}
#rrssbig {
  overflow-x: auto;
  position: relative;
  width: 100%;
}
#twittersmall {
  width: 100%;
  text-align: center;
  margin-right: 20px;
}
#twittergrande {
  width: 100%;
  text-align: center;
}
.twitterbig {
  text-align: center;
  margin-right: 20px;
}
.videoprincipio {
  margin: 0 auto;
  display: block;
  max-width: 70%;
  width: 70%;
}
.videoprincipio video {
  text-align: center;
}
#despuesvideo {
  clear: left;
}
.promoyt {
  width: 85%;
  margin: 0 auto;
  height: 500px;
  display: block;
}
.descripcion {
  text-align: center;
}
.descripcion i {
  float: left;
  line-height: 30px;
  margin-left: 7px;
  margin-right: 10px;
}
.descripcion h6 {
  text-align: left;
  margin-left: 40px;
  font-weight: bold;
}
.descripcion p {
  padding: 5px;
  text-align: justify;
}
.descripcion div {
  padding: 0;
  text-align: left;
}
a {
	transition-duration:0.3s;
	 -moz-transition-duration:0.3s;
	  -o-transition-duration:0.3s;
	   -webkit-transition-duration:0.3s;
	    -ms-transition-duration:0.3s;
		text-decoration:none;
}

a:hover{
	text-decoration:none;
}

.padding_bottom_none{
	padding-bottom:0px;
}

.padding_none {
  padding: 0;
}

.clear{
	clear:both;
}
img {
	max-width:100%;
}

.section_heading.primary-bg > a {
  text-decoration: none;
}

.section_heading.secondary-bg.recent_post > a {
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
}


/*============
	header
===================*/
header {
  background:rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 0;
}


/*=========
	menu
==========*/

.dropdown .dropdown-toggle::after{
 
  content: "";
  font-family: fontawesome;
  font-size: 10px;
  font-weight: 400;
  margin: 0 3px;
  position: absolute;
}
.dropdown .dropdown-toggle {
  position: relative;
}

.navbar.navbar-default, #navbar.collapse.navbar-collapse {
	background-color:transparent;
}


.navbar {
  border: 0 solid hsla(0, 0%, 0%, 0);
  margin-bottom: 0;
  position: relative;
}

.collapse.navbar-collapse {
  background: hsl(0, 0%, 0%) none repeat scroll 0 0;
  margin: 0 auto;
  text-align: right;
}
.navbar ul.nav.navbar-nav {
	float:none;
	text-align:center;
}


.navbar ul.nav.navbar-nav {
	display:inline-block;
	float:none;
	vertical-align:middle;
}

.navbar ul.nav.navbar-nav li {
  margin: 0;
  padding: 0 5px;
}

.navbar ul.nav.navbar-nav li:first-child {
	border-left:0px;
}

.navbar ul.nav.navbar-nav li:last-child {
	border-right:0px;	
}

.navbar ul.nav.navbar-nav li a {
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 13px;
  text-transform: uppercase;
}
ul.nav.navbar-nav li a:hover {
  font-size: 25px;
  transition:all 0.7s;
}
.navbar ul.nav.navbar-nav li a:hover {
    background-color: #f6b20e;
    color: #fff;
}
	
.navbar ul.nav.navbar-nav li.active a {
    background-color: #f6b20e;
    color: #fff;
}

.navbar-collapse {
  overflow-x: visible;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width:990px) {.navbar-collapse { display: inline-block;}	}


/*----------error404---------*/
section.error_top_bg {
  background: hsl(220, 93%, 6%) url(../images/404_bg.png) no-repeat fixed 0 0 / cover ;
  position: relative;
}
section.error_top_bg:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}

.category_m {
  text-align: center;
  margin: 0 auto;
}

.category_m > h2 {
  color: #fff;
  font-weight: 300;
  line-height: 40px;
}

ul.breadcrumbs_m {
  margin: 0;
  padding: 0;
}

.breadcrumb_m {
  border-radius: 0;
  list-style: outside none none;
  margin-bottom: 0;
  right: 0;
  top: 0;
}

#breadcrumbs_m > li {
  font-size: 15px;
  font-weight: 400;
  line-height: 44px;
  list-style: outside none none;
  display: inline-block;
  color:#fff;
}

#breadcrumbs_m a {
  color: #fff;
  text-decoration: none;
}
#breadcrumbs_m li a.ErrorInventado:hover {
  color: white;
}
#breadcrumbs_m li a:hover {
  color: #f6b20e;
}
.error_detail {
  text-align: center;
}
.text_404 {
  width: 49%;
  float: left;
  margin: 0 auto;
}

.text_404 h1 {
  font-size: 202px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 50px;
}

.not_found {
  width: 49%;
  float: left;
  margin: 0 auto;
}

.not_found h2 {
  font-size: 132px;
  font-weight: 300;
  line-height: 45px;
}

.not_found h3 {
  font-size: 50px;
  font-weight: 300;
  line-height: 45px;
  padding-bottom: 30px;
}

.error_detail h3 {
  font-weight: 300;
  margin: 0 0 40px;
}
.error_form .form-control {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: none;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 300;
  height: 55px;
  width: 49%;
  margin: 0 auto;
  position:relative;
}

.search_btn .btn.btn-default {
  background: hsl(42, 93%, 51%) none repeat scroll 0 0;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-family: 'roboto slab';
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  margin: 10px 0 35px;
  padding: 10px 30px;
}

.search_btn {
  bottom: -13px;
  left: 344px;
  position: absolute;
  right: 0;
}



/*------ present app layers-------*/

section.top_banner_bg {
  background: hsl(220, 93%, 6%) url("../images/top_banner.png") no-repeat fixed 0 0 / cover ;
  padding-bottom: 0;
  width: 100%;
  position: relative;
}
section.top_banner_bg:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}

.present {
  position: relative;
  z-index: 2;
}

.present_img {
  position: relative;
  z-index: 2;
}

.present h1 {
  font-size: 54px;
  font-weight: 300;
  color: #fff;
  line-height:76px;
  padding-bottom:120px;
}
.present h5 {
  font-weight: 300;
  color: #fff;
}
.present span {
  color: hsl(37, 99%, 44%);
  font-weight: 700;
}
.present b {
  color: hsl(42, 93%, 51%);
  font-weight: 700;
}

.section_btn .btn.btn-default {
  background: hsl(357, 73%, 49%) none repeat scroll 0 0;
  border: 0 none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  font-weight: 600;
  line-height: 64px;
  margin: 40px 5px 0;
  padding: 5px 35px;
  text-shadow: 1px 1px 1px hsl(0, 0%, 0%);
  font-family: 'roboto slab';
}

.section_btn > span .btn.btn-default {
  background: #f6b20e;
}


.present_img {
  position: relative;
}

.section_btn .btn.btn-default:hover {
  background: #ba0a14 none repeat scroll 0 0;
}

.section_btn > span .btn.btn-default:hover {
  background: #d59700 none repeat scroll 0 0;
}

.section_sub_btn .btn.btn-default:hover {
  background: #d7232d none repeat scroll 0 0;
}


/*-------- features ---------*/

.section_heading {
  text-align: center;
}

.section_heading h2 {
  border-bottom: 1px solid hsl(0, 0%, 75%);
  display: inline-block;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 0 10px 10px;
  position: relative;
  text-transform: uppercase;
}


.section_heading h2::after {
  bottom: -34px;
  content: "";
  font-family: fontawesome;
  font-size: 30px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  color: rgba(0, 0, 0, 0.5);
}

.section_heading h4 {
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  padding: 0 0 50px;
  color:#555454;
}

.features_detail > ul {
  margin: 0;
  padding: 0;
}

.features_detail li:nth-child(2n) {
  border-right: 0 none;
  padding-left: 18px;
  text-align: left;
}

.features_detail li:nth-last-child(2) {
  border-bottom: 0 none;
}
.features_detail li:nth-child(2n) {
  border-right: 0 none;
  padding-left: 18px;
  text-align: left;
}
.features_detail li:last-child {
  border-bottom: 0 none;
}

.features_detail li {
  border-bottom: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  list-style: outside none none;
  margin-bottom: 20px;
  padding: 10px 20px 30px 0;
  text-align: right;
  width: 49%;
  color:#555454;
}

.features_detail i {
  font-size: 28px;
  color:#f6b20e;
}

.features_detail h5 {
  color: hsl(0, 1%, 33%);
  font-weight: 400;
  line-height: 47px;
}

.features_img {
  text-align: right;
}

.features_detail {
  margin-top: 100px;
}


/*---------- services---------*/
.section_heading.section_heading_2 h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 60px;
  padding: 0 10px 10px;
  position: relative;
  color:#fff;
}

.section_heading.section_heading_2 h2::after {
  bottom: -34px;
  content: "";
  font-family: fontawesome;
  font-size: 30px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
}

.section_heading.section_heading_2 h4 {
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  padding: 0 0 50px;
  color:#fff;
}
.section_heading h3 {
  color:#fff;
  font-weight: 600;
  line-height: 40px;
}
.section_heading.section_heading_2 h5 {
  color:#fff;
  font-weight: 200;
  margin: 0;
  line-height: 35px;
  margin-bottom: 1.5em;
}
.services_img {
  float: left;
  padding: 63px 10px 0 0;
}


.services_detail h5 {
  color:#fff;
  display: inline-block;
  
  font-weight: bold;
  line-height: 47px;
  margin: 0;
  padding: 0 20px 5px;
}

.services_detail p {
  color: hsl(0, 0%, 100%);
  float: left;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 3px 0 0 10px;
  width: 97%;
}
.services_detail > ul {
  margin: 0;
  padding: 0;
}
.services_detail {
  margin-left: 45px;
  margin-top: 45px;
}
.services_detail li {
  margin-bottom: 30px;
  overflow: hidden;
  text-align: justify;
}

.services_detail span i {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.services_detail span i:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.services_detail h4 {
  text-align: center;
}
.services_detail iframe {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 15.3em;
  height: 22em;
  overflow-x: hidden;
  border: none;
}
section.our_service_bg {
  background: url(../images/services_bg.png) repeat scroll 0 0;
  position:relative;
  background-position: center;
  background-color:#db356c;
  background-size: cover;
  background-blend-mode: darken;
}

section.our_service_bg:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
}

/*------ how it work-------*/

.how_it_work_m {
  margin-top: 50px;
}

.how_it_work_m i {
  font-size: 46px;
  line-height: 50px;
  color: #f6b20e;
}
.how_it_work_m.text-right h5 {
  color: #555454;
  line-height: 50px;
  padding-bottom: 15px;
  position: relative;
}

.how_it_work_m.text-right h5::after {
  border-bottom: 1px solid hsl(42, 93%, 51%);
  bottom: 0;
  color: hsl(42, 93%, 51%);
  content: "";
  position: absolute;
  right: -60px;
  width: 60%;
  z-index: 1;
}

.how_it_work_m.text-right h5::before {
  content: "";
  font-family: fontawesome;
  font-size: 16px;
  position: absolute;
  right: -69px;
  top: 38px;
  z-index: 1;
  color:#f6b20e;
}

.how_it_work_m p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 8px 0;
  color:#555454;
}
.workng_img {
  margin: 0 auto;
  text-align: center;
}

.how_it_work_m.text-left h5 {
  color: #555454;
  line-height: 50px;
  padding-bottom: 15px;
  position: relative;
}

.how_it_work_m.text-left h5::after {
  border-bottom: 0.5px solid #f6b20e;
  bottom: 0;
  content: "";
  position: absolute;
  left: -60px;
  width: 60%;
  z-index: 1;
  color:#f6b20e;
}

.how_it_work_m.text-left h5::before {
  content: "";
  font-family: fontawesome;
  font-size: 16px;
  position: absolute;
  left: -69px;
  top: 38px;
  z-index: 1;
  color:#f6b20e;
}



/*--------price rate ----------*/
.table-1 {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.discount > p {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.discount {
  background: #d7232d none repeat scroll 0 0;
  left: -30px;
  padding: 5px 35px;
  position: absolute;
  top: 10px;
  transform: rotate(-43deg);
}

.table-1 h3 {
  font-size: 44px;
  font-weight: 300;
  margin: 0;
  padding: 20px 0;
}

.price_month {
  background: hsl(0, 2%, 89%) none repeat scroll 0 0;
  padding:10px 0;
}

.round {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border: none;
  border-radius: 100px;
  display: table;
  margin: 0 auto;
  padding: 31px 24px;
}

.round > h3 {
  font-size: 44px;
  font-weight: 700;
  line-height: 15px;
  padding: 0 0 15px;
}
.round span p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.table-1 > ul {
  margin: 25px 0;
  padding: 0;
}
.table-1 li {
  border-bottom: 1px dashed #e3e2e2;
  color: hsl(0, 0%, 0%);
  font-size: 20px;
  font-weight: 300;
  list-style: outside none none;
  padding: 0.9em;
  float: left;
}
.table-1 svg, .table-1 i {
  font-size: 1.2em;
  color: #000000;
}
.section_sub_btn .btn.btn-default {
  background: hsl(42, 93%, 51%) none repeat scroll 0 0;
  border: 0 none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-family: 'roboto slab';
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  margin: 10px 0 35px;
  padding: 10px 30px;
}

.price_month_m {
  background: #d7232d none repeat scroll 0 0;
  padding:10px 0;
}


section.price_table_bg {
  background: url(../images/price_table_bg.png) repeat scroll 0 0;
  position:relative;
}




section.price_table_bg:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}



/*---------- team member --------*/

.member_name > h5 {
  margin: 0;
}
.member_name {
  border: 1px solid hsl(0, 0%, 80%);
  padding: 25px 0;
  text-align: center;
}
.member_name > h5 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
}
.member_name > p {
  color: hsl(42, 93%, 51%);
  font-weight: 600;
  line-height: 25px;
  margin: 0;
  padding: 5px 0;
}


/*--------- testomimianl------*/
section.testimonial_bg {
  background: url(../images/testi_bg.png) repeat scroll 0 0;
  position:relative;
}

section.testimonial_bg:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}
.imageactores {
  border-radius: 49%;
  background-position: center;
}
.testimonial_slide {
  margin: 20px auto;
  padding: 10px 0;
  width: 675px;
  overflow:hidden;
  border:1px solid rgba(59, 66, 77, 0.6);
  border-radius:10px;
}
.testi_img {
  float: left;
  text-align: center;
  width: 30%;
  padding-left: 10px;
}
.testi_img > h5 {
  color: hsl(0, 0%, 100%);
  font-size: 19px;
  font-weight: 400;
}
.testi-text > h4 {
  font-size: 18px;
}
 
 
  .testi_img > p {
  font-size: 12px;
  font-weight: 300;
  color: #f6b20e;
  line-height: 15px;
}
.testi-text {
  float: left;
  padding: 20px 16px 0;
  width: 69%;
  color: #ffffff;
}
.testi-text i {
  float: left;
  margin-right: 10px;
}
.testi_img i {
  padding-left: 10px;
  font-size: 1.5em;
}
.testi-text > p {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
}
/*-------- contact -------*/
section.contact_bg {
  background: url(../images/contact_bg.png) repeat scroll 0 0;
  position:relative;
}

section.contact_bg:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}

.contact_form {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  padding: 45px 35px 0;
}

.form-group span {
  color: hsl(0, 100%, 50%);
}

.contact_form .form-control {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: none;
  color: hsl(0, 0%, 0%);
  font-size: 16px;
  font-weight: 300;
  height: 55px;
  margin-bottom: 2px;
}

label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%;
  font-family: 'roboto slab';
}

.form-group {
  margin-bottom: 20px;
}
.contact_form .form-textarea {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: none;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2px;
  padding: 5px 15px;
  width: 100%;
}
.contact_text span {
  color: hsl(42, 93%, 51%);
  float: left;
  font-size: 40px;
  padding: 10px;
}
.contact_text h5 {
  color: hsl(0, 0%, 100%);
  line-height: 40px;
  margin: 0;
  padding: 7px 10px 5px;
  max-width: 100%;
  margin-left: 7px;
}
.contact_text ul {
  text-align: center;
}
.contact_text p {
  color: hsl(0, 0%, 100%);
  float: left;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 0 0 0 20px;
  width: 74%;
}
.contact_text > ul {
  margin: 0;
  padding: 0;
}
.contact_text {
  margin-left: 25px;
  margin-top: 45px;
  width: 100%;
}
.contact_text li {
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}

.contact_text span i {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.contact_text span i:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.subscribe_form .form-control {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: none;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 300;
  height: 55px;
  margin-bottom: 2px;
}

.subscribe {
  margin-top: 60px;
}
.subscribe > h3 {
  font-weight: 500;
  line-height: 46px;
  margin-bottom: 30px;
}
.subscribe > h6 {
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 30px;
}

/*------- portfolio------*/
.tags {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.tags > ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.tags li {
  display: inline-block;
  list-style: outside none none;
  margin: 10px 10px;
}
.tags a {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  color: hsl(0, 0%, 0%);
  display: block;
  font-size: 14px;
  font-weight: 300;
  padding: 4px 56px;
}

.tags a:hover {
	background:#f6b20e;
	color:#fff;
}
.textodocumento h3 {
  text-align: center;
  margin-bottom: 24px;
  margin-top: 44px;
  padding: 4px;
  background: #db356c;
  border-radius: 55%; 
}
.textodocumento p {
  text-align: justify;
}
.textodocumento img {
  width: 80%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.port_img1 {
  float: left;
  padding-bottom: 10px;
  padding-left: 10px;
}
.port_img2 img {
  float: left;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  width: 50%;
  display: block;
}
.portfolio_img {
  margin-top: 50px;
  overflow: hidden;
}

/*--------footer---------*/

.footer_top {
  margin: 5px 0;
  text-align: center;
}

footer {
	padding:10px 0 0;	
}
.footer_top > h4 {
  font-weight: 200;
  color: #000000;
}

.footer_top > ul {
  margin: 0;
  padding: 0;
}
.footer_top li {
  background: hsl(216, 100%, 1%) none repeat scroll 0 0;
  border-radius: 100%;
  display: inline-block;
  font-size: 26px;
  margin: 15px 5px;
  width: 70px;
  height: 70px;
  line-height: 68px;
  text-align: center;
}

.footer_top li:hover {
  background:#ffa200 none repeat scroll 0 0;
}

.footer_top a {
  color: hsl(0, 0%, 100%);
  display:block;
}

.footer_bottom p {
  color: #000000;
  font-weight: 400;
  margin:0 auto;
  display:inline-block;
  font-size: 10px;
}
.footer_bottom p a {
  color: #000000;
}
/*--------footer abajo en medio---------*/
.footer_top_right {
  text-align: center;
  color: white;
}
.footer_top_right li {
  margin-left:13px;
}
.footer_top .footer_top_right li a {
  width: 100%;
  font-size: 13px;
  background-color: transparent;
}
.footer_top .footer_top_right li a:hover {
  color:white;
}
.footer_top_right a:hover {
  color:#F6B20E
}
/*-------- footer abajo----------*/

footer .footer_bottom {
  padding: 10px;
  text-align: center;
}
 a.backtop {
  background: #02060d none repeat scroll 0 0;
  border: 2px solid white;
  border-radius: 100%;
  color:white;
  float: right;
  font-weight: 500;
  width: 40px;
  text-decoration: none;
  font-size: 13px;
  height: 40px;
  text-align: center;
  line-height: 36px;
}
a.backtop:hover {
  color:#f6b20e;
  border: 2px solid #f6b20e;
}
.footer_bottom.fourth-bg p a {
  font-size: 11px;
}
.backtop {
  position: fixed;
  bottom: 35px;
  right: 0;
  margin: 15px;
  max-width: 100%;
}
.footer_bottom a {
	color:white;
}
.footer_bottom a:hover {
  color:#F6B20E;
}
.dropdown-menu {
  background-color: hsl(0, 0%, 0%);
}
/*-------- responsive----------*/
@media all and (max-width: 600px) {
   /*Cookies*/
   #infobox3 {
    height: 8em;
  }
  #infobox3 p {
    line-height: 2.1em;
  }
  #h5contact {
    font-size: 1em;
  }
    #portfolio3 {
    display: none;
  }
  .promoyt { height: 250px; }
  body {
    background:hsl(221, 93%, 6%) url("../images/top_banner_m.png");
    }
}
@media all and (max-width: 600px) {
  #portfolio3, #rrssmall, .rrsswidget, #twittergrande, .videoembarafobia video {
  display: none;
}
div #rrssbig, div #twittersmall a {
  display: initial;
}
#h5contact {
  font-size: 0.7em;
}
.videoyt iframe {
  display: block; 
  margin: 0 auto;
  width: 100%;
  border: none;
}
}
@media all and (min-width: 601px) and (max-width:767px) {
/*Cookies*/
#infobox3 {
  height: 5.4em;
}
#infobox3 p {
  line-height: 2.1em;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*Cookies*/
  #infobox3 {
    height: 5.4em;
  }
  #infobox3 p {
    line-height: 2.1em;
  }
}
@media all and (min-width: 601px) and (max-width:2600px) {
   div #rrssbig iframe, #twittersmall, .videoyt iframe {
    display: none;
  }

}
@media (max-width:767px){
.collapse.navbar-collapse {
  overflow: scroll;
}
a.backtop {
  float: right;
  height: 40px;
}
.backtop {
  position: absolute;
  bottom: 0;
  right: 0;
}
.dropdown-menu {
  position: relative;
  width: 100%;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 365px;
}
.tags > ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 170px;
}

.navbar.navbar-default, #navbar.collapse.navbar-collapse {
  background-color: hsl(0, 0%, 0%);
}	
	
.section_sub_btn .btn.btn-default {
  padding: 10px 10px;
}	
	
.footer_top li {  font-size: 15px;  height: 45px;  line-height: 3;  margin: 7px 5px; text-align: center;  width: 45px;}
.footer_bottom.fourth-bg a {  font-size: 13px;  height: 30px;  line-height: 28px;  width: 30px;}
.footer_bottom.fourth-bg p a { font-size: 13px; }
.footer_bottom p { font-size:13px;}
.tag-detail {  text-align: center;}

	section.coming_soon_bg {  padding: 60px 0 90px;}
.coming_soon_img {margin: 50px 0 auto;  text-align: center;}
.coming_soon_imgvideo {width: 100%; height: 90%;}
.coming_soon_footer a {  font-size: 16px;}
.coming_soon_footer p a { font-size: 13px;}
.coming_soon_footer ul {  float: none;  text-align: center;}
.coming_soon_footer p {
  font-size: 13px;
  display: block;
  text-align: center;
}.search_btn-2 .btn.btn-default {  border-radius: 15px;}
.email_field .form-control {  width: 100%;}
.search_btn-2 {  text-align: center;  width: 100%;position: inherit;margin-bottom: 60px;}
#defaultCountdown {  margin: 0 auto;  padding: 10px 0 0px;  text-align: center;}
#defaultCountdown .countdown-section .countdown-period {  font-size: 14px;  line-height: 45px;}
#defaultCountdown .countdown-section .countdown-amount {  font-size: 27px;  line-height: 20px;  padding: 16px 0;}
#defaultCountdown .countdown-section {  height: 144px;  margin: 0 7px 0 auto;  width: 55px;}
.coming_soon_detail h2 {  font-size: 31px;  line-height: 40px;  text-align: justify;}
.coming_soon_detail {  width: 100%;  margin-top: 40px;}	

	
.panel-body {  padding: 10px 0;  text-align: center;}
.panel-title a {   font-size: 20px; }
.about_us_img {  float: none;}
.about_us_detail li {  float: none; width:100%;}
	
.text_404 {  float: none;  margin: 0 auto;  width: 100%;}
.text_404 h1 {  font-size: 140px;padding-bottom: 0;}
.not_found {  float: none;  margin: 0 auto;  width: 100%;}	
.not_found h2 {  font-size: 72px;}
.not_found h3 {  font-size: 35px;  line-height: 50px; margin:0;}
.error_detail h3 {  font-size: 25px;}
.error_form .form-control {  width: 100%;}
.search_btn { position: inherit;}

	
.navbar ul li {  border-left: none;  border-right:none; }
.nav_icon {  display: block;  margin: 10px 0;}
.nav.navbar-nav.navbar-right {  display: none;  margin-top: 15px;}
.menu_bar ul li {  padding: 10px 20px;  text-align: left;  display:block;  cursor:pointer; }
.navbar ul li {  line-height: 15px;  list-style: outside none none;  margin: 5px 0;  padding: 0;  vertical-align: middle;  width: 100%;}
.navbar {  padding: 5px 0; position:relative;}
.navbar-toggle {
  float: none;
  margin: 10px;
  padding: 10px;
}
.navbar-header {
  text-align: center;
}
.navbar ul.nav.navbar-nav {
  display: block;
}
.navbar ul.nav.navbar-nav li a {  text-align: center;}
.menu_bar {
  display: inline;
  padding: 15px 0;
}
.navbar-collapse {
  border-top: none;
}
.dropdown-menu li:hover {
  background: hsl(39, 100%, 50%) none repeat scroll 0 0;
  color:#fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: hsl(39, 100%, 50%);
  color: hsl(0, 0%, 33%);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: hsla(0, 0%, 0%, 0);
  color: hsl(0, 0%, 100%);
}


.logo_img {
  float: left;
  position: relative;
  z-index: 1;
  width: 60%;
}
.present {  text-align: center;}
.present h1 {  font-size: 40px;  line-height: 60px;padding-bottom: 50px;}
.section_btn {  margin: 20px 0 30px;}
.present_img {  margin: 0 auto;  text-align: center;}
.section_heading h2, .section_heading h3 {  font-size: 25px; line-height:50px;}
.section_heading h4 {  font-size: 20px;  line-height: 30px;}
.features_detail {  margin-top: 30px;}
.features_detail li {  border-right: none;  text-align: center;  width: 100%;}
.features_img {  text-align: center;width: 100%;}
.services_img {  display:inline-block;}
.services_img_n {  margin: 0 auto;  padding: 20px 5px 0;  text-align: center;  width: 100%;}
.services_detail {  margin: 0 0 30px;  text-align: center;
}.services_detail li {  padding: 50px 0 0px;margin: 0 auto;}
.services_detail span {  float: none;}
.services_detail h5 {  float: none;padding: 10px 20px 5px; display: block;}
.services_detail p {  float: none;  width: 100%;}
.how_it_work_m {  margin-top: 15px;  text-align: center;}
.how_it_work_m.text-right h5::before {  display: none;}
.how_it_work_m.text-right h5::after {  display: none;}
.how_it_work_m.text-right h5 {  line-height: 35px;}
.how_it_work_m p {  margin: 0 0 30px;}
.workng_img {  margin: 0 auto 40px;}
.how_it_work_m.text-let h5::before {  display: none;}
.how_it_work_m.text-left h5::after {  display: none;}
.how_it_work_m.text-left h5 {  line-height: 35px;}
.tags li {  background: hsl(0, 0%, 100%) none repeat scroll 0 0;  display: block;  margin: 10px 0;  width: 100%;}
.port_img1 {  float: none;  padding: 0;margin-bottom: 15px;}
.port_img2 img { width: 90%; float: none;}
.table-1 {  margin: 10px 0 25px;}
.member_img {  margin: 0 auto;  text-align: center;  width: 77%;}
.member_name {  width: 97%; margin: 0 auto; padding: 0.2em;}
.member_detail {  margin: 0 0 30px;}
.testimonial_slide {  width: 100%;padding: 15px 0 0 15px;}
.testi-text {  padding: 0 35px;}
article {  margin: 0 0 70px;}
.contact_text h5 {   margin-left: 7px; line-height: 40px;  margin: 0;  padding: 7px 4px 5px 0px;  width: 100%; font-size:11.5px;}
.contact_text span {  padding: 11px 0;}
.contact_text li {  display: block;  margin: 0 auto;}
.contact_text {   margin-top: 45px;}
.subscribe {  text-align: center;}
.workng_img {  margin: 30px auto 40px;}
.section_btn .btn.btn-default {  margin: 20px 5px 0;}
.footer_top > h4 {  font-size: 15px;  line-height: 30px; margin: 0 auto 25px;}
.features_detail li:nth-child(2n) {  text-align: center;}
.features_detail li:nth-last-child(2) {  border-bottom: 1px solid hsl(0, 0%, 80%);}
.pull-right {  float: none;  width: 100%;}
.contact_text span {  font-size: 30px;}

}



@media (min-width:100px) and (max-width:991px){
.tags li {
  display: inline-block;
  list-style: outside none none;
  margin: 10px 10px;
}
.promoyt { height: 250px; }
.subscribe_form .form-group {
  margin-bottom: 20px;
  padding: 0;
}
.contact_form .form-group {
  margin-bottom: 20px;
  padding: 0;
}
.contact_text h5 {
  width: 100%;
  font-size: 0.8em;
  text-align: left;
}
.tag-detail {  text-align: center;}
section.coming_soon_bg {  padding: 60px 0 200px;}
.form-group {  margin-bottom: 45px;  padding: 60px 0 40px;}
.search_btn-2 .btn.btn-default {  border-radius: 0 15px 15px 0;  margin: 0;}
.email_field .form-control {
  float: none;
  width: 100%;
}
.search_btn-2 {
  margin-top: -140px;
  position: relative;
  right: -4px;
  text-align: right;
  top: 0;
  z-index: 1;
}
.coming_soon_footer p {
  display: block;
  font-size: 13px;
  text-align: center;
}
a.backtop {
  float: right;
  height: 40px;
}
.backtop {
  position: absolute;
  bottom: 0;
  right: 0;
}
#defaultCountdown {  margin: 0 auto;  padding: 10px 0 0px;  text-align: center;}
#defaultCountdown .countdown-section .countdown-period {  font-size: 20px;  line-height: 45px;}
#defaultCountdown .countdown-section .countdown-amount {  font-size: 30px;  line-height: 20px;  padding: 30px 0;}
#defaultCountdown .countdown-section {  height: 144px;  margin: 0 20px 0 auto; width: 80px;}

}




/*--------768-992-------*/

@media (min-width:768px) and (max-width:992px){
.logo_img {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 30%;
}
.navbar ul.nav.navbar-nav li {
  list-style: outside none none;
  margin: 0;
  padding: 0 2px;
}
.navbar ul.nav.navbar-nav li a {
  font-size: 13px;
  padding-left: 9px;
  padding-right: 12px;
}
.present {
  margin-top: 50px;
}
a.backtop {
  float: right;
  height: 40px;
}
.backtop {
  position: fixed;
  bottom: 0;
  right: 0;
}
.coming_soon_footer ul {
  float: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.coming_soon_img {  margin:50px 0 auto;  text-align: left;}
.coming_soon_imgvideo {width: 100%; height: 90%;}
.search_btn-2 .btn.btn-default {  border-radius: 0 15px 15px 0;  margin: 0;}
.email_field .form-control {
  float: none;
  width: 100%;
}
.search_btn-2 {
  margin-top: -140px;
  position: relative;
  right: -4;
  text-align: right;
  top: 0;
  z-index: 1;
}
.coming_soon_footer p {
  display: block;
  font-size: 13px;
  text-align: center;
}
#defaultCountdown {  margin: 0 auto;  padding: 10px 0 0px;  text-align: center;}
#defaultCountdown .countdown-section .countdown-period {  font-size: 20px;  line-height: 45px;}
#defaultCountdown .countdown-section .countdown-amount {  font-size: 30px;  line-height: 20px;  padding: 40px 0;}
#defaultCountdown .countdown-section {  height: 144px;  margin: 0 20px 0 auto; width: 105px;}
.coming_soon_detail h2 {  font-size: 50px;  line-height: 60px;  text-align: justify;}
.coming_soon_detail {  width: 100%;  margin-top: 40px;}	
	
	
	
.about_us_detail {  text-align: center;}
.panel-body {  padding: 10px 0;  text-align: center;}
.panel-title a {   font-size: 20px; }
.about_us_img {  float: none;}

	
	
.text_404 {  float: left;  margin: 0 auto;  width: 49%;}
.text_404 h1 {  font-size: 160px;padding-bottom: 0;}
.not_found {  float: left;  margin: 0 auto;  width: 49%;}	
.not_found h2 {  font-size: 82px;}
.not_found h3 {  font-size: 40px;  line-height: 50px; margin:0;}
.error_detail h3 {  font-size: 27px;}
.error_form .form-control {  width: 80%;}
.search_btn {  bottom: -33px;  left: 360px;  position: absolute;  right: 0;}
	
	

.present {  text-align: center;}
.present h1 {  font-size: 40px;  line-height: 60px;padding-bottom: 50px;}
.section_btn {  margin: 20px 0 30px;}
.present_img {  margin: 0 auto;  text-align: center;}
section {  padding: 60px 0;}
.section_heading h2 {  font-size: 40px;}
.section_heading h4 {  font-size: 26px;  line-height: 40px;}
.features_detail {  margin-top: 30px;}
.features_detail li {  border-right: none;  text-align: center;  width: 100%;}
.features_img {  text-align: center;}
.features_detail li:nth-child(2n) {  text-align: center;}
.features_detail li:nth-last-child(2) {  border-bottom: 1px solid #cccccc;}
.features_img.pull-left {  float: none;width: 100%;}
.services_img_n {  margin: 0 auto;  text-align: center;}
.how_it_work_m {  margin-top: 15px;  text-align: center;}
.how_it_work_m.text-right h5::before {  display: none;}
.how_it_work_m.text-right h5::after {  display: none;}
.how_it_work_m.text-right h5 {  line-height: 35px;}
.how_it_work_m p {  margin: 0 0 30px;}
.workng_img {  margin: 0 auto 40px;}
.how_it_work_m.text-left h5::before {  display: none;}
  .how_it_work_m.text-left h5::after {  display: none;}
.how_it_work_m.text-left h5 {  line-height: 35px;}
.port_img1 { width: 50%;}
.port_img2 img { width: 100%;}
.table-1 {  margin: 10px 0 25px;}
.member_detail {  margin: 0 0 30px;}
.member_detail {  float: left;  margin: 0 10px 30px;  width: 46%;}
article {  margin: 0 0 70px;}
.contact_text h5 {  font-size: 14px;  width: 100%;}
.contact_text span {  padding: 10px 20px;}
.contact_text li {  display: block;  margin: 0 auto;}
.contact_text { margin-left: auto;  margin-top: 45px;}
.subscribe {  text-align: center;}
.workng_img {  margin: 30px auto 40px;}
.section_btn .btn.btn-default {  margin: 20px 5px 0;}
.footer_top > h4 {  font-size: 15px;}
.footer_top li {  font-size: 20px;  margin: 25px 5px 10px;  }
}
/*----------992px -1200px -----------*/

@media (min-width:993px) and (max-width:1200px){
.contact_text h5 {
  width: 310px;
}
.search_btn-2 .btn.btn-default {  border-radius: 0 15px 15px 0;  margin: 0;}
.email_field .form-control {
  float: none;
  width: 100%;
}
.search_btn-2 {
  margin-top: -75px;
  position: relative;
  right: -4px;
  text-align: right;
  top: 0;
  z-index: 1;
}

.coming_soon_detail {  width: 100%;}	

.about_us_detail li {  width: 45%;}
.app_screenshot {  width: 25%;}
	
.navbar ul.nav.navbar-nav li a {  font-size: 15px;  padding-left: 4px;  padding-right: 4px;}
.present h1 {  padding-bottom: 65px;}
.section_btn .btn.btn-default {  margin: 30px 5px 0;}
.features_detail h5 {  font-size: 22px;}
.features_img {  padding-top: 30px;}
.features_detail {  margin-top: 70px;}
.services_img {  width: 49%;}
.services_img_n {  float: left;  width: 49%;}
.services_detail span {  padding: 23px 24px;}
.services_detail {  margin-left: 15px;  margin-top: 15px;}
.how_it_work_m { margin-top: 20px;}
.contact_text h5 {  font-size: 14px;}
.navbar ul.nav.navbar-nav li a {  font-size: 15px;  font-weight: 400;  padding-left: 4px;  padding-right: 4px;  text-transform: uppercase; text-align: center;}

.error_detail h3 {    margin: 0 auto;  padding: 60px 0;}
.search_btn {   left: 244px;  }
}